*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.nav-banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-banner-img{
    width: 635px;
    height: 800px;
}